body{
    margin-top: 100px;
    margin-bottom: 100px;
   
}

.APIContainer {
    margin: 50px auto 150px auto;
    padding: 10px 20px 10px 20px;
    border: 1px solid rgb(15, 15, 15);
    border-radius: 5px;
    width: 40%;
    min-width: 500px;
    height: 20%;
}

.marginTopBotton {
    margin-top: 10px;
    margin-bottom: 10px;
}
 *{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
 }
 .jokeContainer{
    display: flex;
    align-items: center ;
 }

 .jokeTitle{
    margin-left: 10px;
    color: red;
 }
 #joke{
    margin-left: 10px;
    margin-top: 5px;
}

#buttonGetJoke {
    margin-left: auto;
    background-color: rgb(15, 15, 15);
}

#buttonGetJoke:hover{
     background-color: red;
     color: white;
}

#buttonGetJoke:active{
    background-color: blue;
}